/*body{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
}
h1,h2{
    text-align: center;
    -webkit-text-fill-color:rgb(14, 156, 161);
}

form{
    text-align: center;
    font-style: normal;
    font-size: 35px;
    -webkit-text-fill-color:rgb(14, 156, 161);
}
#deleteregNum{
    width: 200px;
    border-radius: 10px;
}
.total {
    width: 300px;
    height: auto;
    border: 4px solid rgba(255, 225, 225,.5);
    padding: 20px 20px ; 
    margin: auto;
}*/
*{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    

}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,0.75)),url(fro.jpg);
    background-size: cover;
    background-position: center;}
    .navbar ul{
        -webkit-text-fill-color: white;
       list-style-type: none;
       margin-left: 65%;
       padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
       }
       .navbar ul a{
           text-decoration: none;
           text-transform: uppercase;
           -webkit-text-fill-color: #fff;
       }
       .navbar ul li a:hover{
           font-weight: 110;
           -webkit-text-fill-color: blue;
       }    
       h1{-webkit-text-fill-color: #fff;
        font-size: 50px;
    }
    p{
        -webkit-text-fill-color: #fff;
        font-size: 25px;}
        #deleteregNum{
            background-color: transparent;
            border-radius: 5px;
        }
        #deleteregNum:hover{
            background-color: #fff;
            border-radius: 10px;
        }
        button{
            background-color: transparent;
            text-transform: capitalize;
            text-align: center;
            width: 80px;
        }
        button:hover{
            background-color: green;
        }
        #byc{
            text-align: center;
            padding-top: 60px; 
        }
        h1,p{
            text-transform: capitalize;
        }

