<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login_student1.css')}}">
</head>
<body>
    <div class="toorder">
        <div class="navbar">
            <ul>
                <li><p><a href="{{ url_for('intro') }}">Home</a></p></li>
            </ul>
        </div>
    <div class="content">  
    <h1>STUDENTS VIEW</h1><br>
    <form action="/login_student" method="get">
    <p><label for="regNum" >REGISTER NO</label></p>
    <input type="number" id="regNum" name="regNum"minlength="12" maxlength="12">
    <br> <br>
    <button type="submit">SUBMIT</button>
    <br>
    </form>
    </div>
    <div class="show">
        {% if data %}
        <h2>Students Details</h2><br><br><br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Register Number</th>
                    <th>Age</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                {% for student in data %}
                    <tr>
                        <td>{{ student[1] }}</td>
                        <td>{{ student[2] }}</td>
                        <td>{{ student[3] }}</td>
                        <td>{{ student[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if error_msg %}
        <p>{{error_msg}}</p>
        {% endif %} 
        {% endif %}
    </div>
    </div>
</body>
</html>