
*{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    font-size: 25px;

}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,0.75)),url(fro.jpg);
    background-size: cover;
    background-position: center;}
    .navbar ul{
        -webkit-text-fill-color: white;
       list-style-type: none;
       margin-left: 75%;
       padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
       }
       .navbar ul a{
           text-decoration: none;
           text-transform: uppercase;
           -webkit-text-fill-color: #fff;
       }
       .navbar ul li a:hover{
           font-weight: 110;
           -webkit-text-fill-color: blue;
       }
.log{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    line-height: 30px;
    
}
#username,#password{
    border-radius: 10px 10px;
    background-color: transparent;
}
#username:hover,#password:hover{
    background-color: #fff;
}
.log a{
    text-decoration: none;
}
button{
    border-radius: 10px;
    width: 120px;
    background-color:transparent;
}
button:hover{
    background-color: green;
}
p{
    font-size: 15px;
 
}